DATABASE_URL=postgresql://droplet_user:WkMti3eaQvDxsJxszfErn3zYjAGczLC5@dpg-d3e12ladbo4c738vk9g0-a/droplet_db_n7xs
DROPLET_ID=drp_1vrlinxcwxihtafpg45yi0kw5bshhvizn
FLUID_API_KEY=PT-CNABbsKCCCHqqSW3oPbhVWHZ
FLUID_API_URL=https://api.fluid.app
FLUID_WEBHOOK_SECRET=Gf3yP9kQb7nT2sVxH4mZ8RcW1uD6LjEp
FRONTEND_URL=https://droplet-template-frontend.onrender.com
JWT_SECRET=qN1cN+nRlWwLJDOIumjfgGjYPBjMWReMXIJToAsTwDY=
LOG_LEVEL=info
NODE_ENV=production
NPM_CONFIG_PRODUCTION=false
PORT=10000
RESEND_API_KEY=re_GpdBBfdr_No4rZETbucKpKL473RgzWfeZ
RESEND_FROM_EMAIL=reviews@rehive.online
WEBHOOK_BASE_URL=https://droplet-template-backend.onrender.com

